/* Fondo degradado */
.page-container {
  text-align: left;
  padding: 40px;
  background: linear-gradient(to bottom, #cce5ff, #ffffff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Botón de volver */
.volver-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #004aad;
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  color: #004aad;
  margin-bottom: 25px;
}

/* Título */
label {
  font-size: 22px;
  font-weight: bold;
  color: #004aad;
  margin-bottom: 5px;
}

.error {
  font-size: 16px;
  color: #b10715;
  margin-bottom: 5px;
}

/* Contenedor del formulario */
.form-container {
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  max-width: 900px;
}

#fechaAdquisicion {
  width: 89%;
}

#documentacion {
  width: 200%;
}

#enviarForm {
  margin: 25px auto;
  width: 100%;
}

/* Grid para organizar los campos */
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

/* Formato de los inputs */
.form-group {
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
}

/* Estilos específicos para textarea */
textarea {
  height: 60px;
  resize: none;
}

/* Formato del input con icono */
.input-icon {
  position: relative;
}

.input-icon input {
  width: 100%;
  padding-left: 40px;
}

.input-icon .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
}

/* Botón de crear */
.btn-primary {
  background-color: #004aad;
  color: white;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #003399;
  }

  &:disabled {
    background-color: #a6c0e4 !important; /* Color pálido cuando está deshabilitado */
    color: #ffffff;
    cursor: not-allowed;
    opacity: 0.6;
  }
}


/* Mensaje de éxito */
.success-message {
  margin-top: 20px;
  color: #004aad;
  font-weight: bold;
}
