/* You can add global styles to this file, and also import other style files */

/* Estilos globales para toda la aplicaci贸n */
/* Importar la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');

/* Estilos globales */
body, html {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(120deg, #0073e6b3 20%, #b3e5fc 80%);
  background-attachment: fixed;
  color: #000; /* Color de texto general */
}

/*  Bot贸n de volver */
.volver-btn {
  position: absolute;
  top: 60px;
  font-size: 20px;
  left: 60px !important;
}

/* T铆tulos principales */
h1 {
  color: #004aad;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 10px;
}

/* T铆tulos generales */
h2, h3 {
  color: #004add;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 8px;
}

/* Subt铆tulos (formularios) */
.label {
  color: #004aad;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

/* Marcador de posici贸n (formularios) */
::placeholder {
  color: #a6a6a6;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 12px;
}

/* Tabla de gesti贸n */
.table {
  width: 100%;
  border-collapse: collapse;
}

/* Subt铆tulos de la tabla */
.table thead th {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 12px;
  background-color: #004aad;
  padding: 10px;
}

/* Texto general de la tabla */
.table tbody td {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Asegurar que los botones se vean bien */
button {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Bot贸n primario */
.btn-primary {
  background-color: #004aad;
  color: white;
}

.btn-primary:hover {
  background-color: #00358a;
}

/* Bot贸n secundario */
.btn-secondary {
  background-color: #a6a6a6;
  color: white;
}

.btn-secondary:hover {
  background-color: #8c8c8c;
}


.toast-success {
  background: #28a745 !important;
  color: white !important;
}

.toast-error {
  background: #dc3545 !important;
  color: white !important;
}

.toast-info {
  background: #17a2b8 !important;
  color: white !important;
}

.toast-warning {
  background: #ffc107 !important;
  color: black !important;
}

body {
  padding: 0;
  margin: 0;
}
